/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif; /* Cambia la fuente según prefieras */
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #f8f8f8; /* Color de fondo del encabezado */
    padding: 20px 0;
}

.column_rightUs h3:before {
    content: "";
    position: absolute;
    width: 38px;
    height: 3px;
    background: #f08820;
    bottom: 1em;
    left: 0;
}

/* Estilos para el logo */
.column_logo img {
    width: 130px; /* Ajusta el tamaño del logo aquí */
}

.column_rightUs h2 {
    color: #f08820; /* Cambia este valor por el color que desees */
}

.column_rightUs h3::after {
    content: #f08820; /* Esto eliminará cualquier contenido generado, como una línea */
}

/* Estilos del menú */
.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    display: inline-block; /* Cambia a block si prefieres un menú vertical */
    margin: 0 15px; /* Espaciado entre los elementos del menú */
}

.menu-item a {
    color: #333 !important; /* Cambia este color por el que desees */
}

.menu-item a:hover {
    color: #f08820 !important; /* Color al pasar el mouse */
}

/* Estilos para el botón "CONOCE MÁS" */
.btn_us a {
    background-color: #f08820; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Quitar subrayado */
    border-radius: 5px; /* Bordes redondeados */
}

.btn_us i {
    color: #f08820 !important; /* Cambia este valor por el color que desees */
    margin-right: 5px; /* Ajusta el margen según lo que necesites */
}

.btn_us a:hover {
    background-color: #333; /* Color del botón al pasar el mouse */
}

/* Estilos para la sección "NOSOTROS" */
#container_module_us {
    padding: 40px 20px; /* Espaciado para la sección */
}


/* Estilos para el soporte */
.box-support {
    background-color: none; /* Color de fondo del soporte */
    padding: 20px;
}

/* Ajustes para la imagen en el slider */
#container_module_slider img {
    width: 100%; /* Hacer que la imagen ocupe el ancho completo */
    height: auto; /* Mantener proporciones */
}

.row_search a {
    background-color: #f08820; /* Cambia este color por el que desees */
    color: #fff; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
}

.row_search a:hover {
    background-color: #333; /* Color al pasar el mouse */
}


#container_module_services h2 {
    color: #f08820; /* Cambia 'black' por el color que desees */
}

.content_image_services a {
    background-color: #f08820; /* Cambia 'blue' por el color de fondo que desees */
    color: white; /* Cambia 'white' por el color del texto que desees */
    padding: 10px 20px; /* Ajusta el espaciado alrededor del texto */
    text-decoration: none; /* Para eliminar el subrayado */
    border-radius: 5px; /* Para bordes redondeados, opcional */
}

.content_image_services a:hover {
    background-color: darkblue; /* Cambia 'darkblue' por el color al pasar el mouse */
}

.row_services span:before {
    content: "";
    position: absolute;
    width: 38px;
    height: 3px;
    background: #f08820;
    bottom: -1em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.group_services ul li:before {
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 0;
    left: 0;
    border: 2px dashed #f08820;
}

/* íconos de redes sociales de inicio */
.row_box ul li:nth-child(1) h2:before {
    content: "";
}

.row_box ul li:nth-child(2) h2:after {
    content: "";
}

.row_box ul li:nth-child(2) {
    background: #f08820;
}

.column_box a {
    color: #ffffff; /* Cambia el color según tu diseño */
    font-size: 24px; /* Ajusta el tamaño del ícono */
    text-decoration: none; /* Para eliminar el subrayado */
    margin-right: 10px; /* Espacio entre íconos */
}

.column_box a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
}

/* Testimonios */
.title_staff h3 {
    font: 2em / 1.2em regular;
    color: #fff;
    padding-bottom: 1.5em;
    position: relative;
    text-transform: uppercase;
}

.title_staff h3:after {
    content: "";
    position: absolute;
    width: 38px;
    height: 3px;
    background: #f08820;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.title_staff h2{
    font: 1.5em / 1em regular;
    color: #f08820;
    padding-bottom: 1.5em;
}

/* Carrusel */

.content_staff
{
	background: #fff;
}
.content_staff p
{
	font: 1em/1em regular;
    color: #1D3447;
}
.content_staff span
{
	font: 0.85em/1em bold;
    color: #1D3447;
}
.content_staff
{
	width: 90%;
    height: 7em;
    margin: 0 auto;
    padding: 0.75em 1em;
    margin-top: -2em;
    position: relative;
}
/* Flechas del Carrusel */
.slick-prev:before {
    content: '←';
}

#container_module_staff .slick-prev {
    position: absolute;
    background: url(images/arrow-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 35%;
    left: -6%;
    border: none;
    font-size: 0;
    color: transparent;
    width: 45px;
    height: 85px;
    padding: 0;
    cursor: pointer;
    z-index: 99;
}

.slick-next:before {
    content: '→';
}

#container_module_staff .slick-next {
    position: absolute;
    background: url(images/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 35%;
    right: -6%;
    border: none;
    font-size: 0;
    color: transparent;
    width: 45px;
    height: 85px;
    padding: 0;
    cursor: pointer;
    z-index: 99;
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Formulario */

.row_content_form i {
    font-size: 2em; /* Aumenta el tamaño del texto */
    font-weight: normal; /* Mantén el peso regular */
    line-height: 1em; /* Altura de línea */
    color: #f08820; /* Mantén el color */
    padding: 0;
    margin-bottom: 2em;
    margin-top: 2em;
}

.row_content_form h3 {
    font-size: 1.4em; /* Aumenta el tamaño del texto */
    font-weight: normal; /* Mantén el peso regular */
    line-height: 1em; /* Altura de línea */
    color: #ffffff; /* Mantén el color */
}


.row_form p {
    width: 100%;
    margin-bottom: 1em;
}

.row_form p input[type="submit"] {
    font: 1em / 1em light;
    color: #fff;
    background: #f08820;
    padding: 0.57em 10em;
    display: table;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
}

/* Foroter */

#container_module_footer {
    width: 100%;
    background: #1D3447;
    padding: 4em 0 4em 0;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar las columnas horizontalmente */
    gap: 2em; /* Espacio entre las columnas */
}

.column_menu_footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido dentro de cada columna */
    color: white;
}

.column_menu_footer ul {
    list-style-type: none;
    padding: 0;
}

.column_menu_footer a {
    margin-bottom: 1em;
    color: #f08820;
}


/* PÁGINA DE NOSOTROS */
.column_left_contentUs h2 {
    font: 2.5em / 1em regular;
    color: #f08820;
    position: relative;
    padding-bottom: 1em;
}

.column_left_contentUs h2:before {
    content: "";
    position: absolute;
    width: 38px;
    height: 3px;
    background: #f08820;
    bottom: 0.75em;
    left: 0;
}

.row_services h2 {
    font: 2.5em / 1em regular;
    color: #f08820;
    padding-bottom: 0.5em;
}

.row_services span {
    font: 1.2em / 1em regular;
    color: #1D3447;
    position: relative;
}
    /* botón contacto */
.content_phare a {
    font: 1em / 1em light;
    color: #f08820;
    border: 1px solid #f08820;
    padding: 0.75em 1.5em;
}


 